@use "styles/variables.scss";
@use "styles/mixins.scss";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  border-radius: 6px;
  gap: 10px;
  min-width: 270px;
  width: 50%;
  padding: 20px;
  background-color: variables.$color-primary;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
